{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Bookings</title>
    <link rel="stylesheet" href="{% static 'user/my_bookings.css' %}">
</head>

<body>

<div class="container">

    <h1 class="title">My Bookings</h1>

    <div class="grid">

        {% for booking in bookings %}
        <div class="card">

            <!-- Image -->
            {% comment %} <img src="{{ booking.restaurant.image.url }}" class="img"> {% endcomment %}

            <!-- Content -->
            <div class="content">

<p> {{ booking.restaurant }}</p>

                <p>📅 {{ booking.date }}</p>
                <p>⏰ {{ booking.selected_slot }}</p>
                <p>👥 {{ booking.number_of_people }} People</p>

                <!-- Status -->
                <span class="status {{ booking.status|lower }}">s
                    {{ booking.status }}
                </span>

                <!-- Refund -->
                {% if booking.refund %}
                <p class="refund">
                    💰 Refund: {{ booking.refund.status }}
                </p>
                {% endif %}

                <!-- Actions -->
                {% if booking.status == "CONFIRMED" %}
                <button class="cancel-btn"
                        onclick="cancelBooking('{{ booking.booking_id }}')">
                    Cancel Booking
                </button>
                {% endif %}

            </div>

        </div>
        {% empty %}
        <p>No bookings found</p>
        {% endfor %}

    </div>

</div>

<script>
function cancelBooking(id){

    if(!confirm("Cancel this booking?")) return;

    fetch(`/cancel-booking/${id}/`, {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        }
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        if(data.status === "success"){
            location.reload();
        }
    });
}
</script>

</body>
</html>