{% load static %}
<link rel="stylesheet" href="{% static 'user/dashboard.css' %}">

<div class="sidebar">
    <div class="sidebar-header">
        <h2>DineTime</h2>
        <p>User Dashboard</p>
    </div>

    <ul class="sidebar-menu">
        <li class="{% if request.path == 'user_dashboard/' %}active{% endif %}">
            <a href="{% url 'user_dashboard' %}">
                <span>🏠</span> Dashboard
            </a>
        </li>


        <li>
            <a href="{% url 'book_table' %}">
                <span>🍽️</span> Book a Table
            </a>
        </li>

        
        <li>
            <a href="{% url 'my_bookings'%}">
                <span>🍽️</span> My Booking
            </a>
        </li>

        <li>
            <a href="{% url 'my_orders'%}">
                 <span>🛒</span> My Orders
            </a>
        </li>

        <li>
            <a href="{% url 'order_history'%}">
                <span>👥</span> order history
            </a>
        </li>

        <li>
            <a href="{% url 'profile'%}">
                <span>📊</span> Profile
            </a>
        </li>

        <li>
            <a href="{% url 'settings'%}">
                <span>⚙️</span> Settings
            </a>
        </li>

        
    </ul>
</div>