{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
     <link rel="stylesheet" href="/static/user/profile.css">
     
</head>
<body>
    {% comment %} //check rol for navbar... {% endcomment %}
    {% if request.user.role == 'owner' %}
        {% include 'dine/owner/ownersiderbar.html' %}
    {% elif request.user.role == 'user' %}
        {% include 'dine/user/usersiderbar.html' %}
    {% endif %}

    <div class="content">
        {% block content %}
        <a href="/logout/">Logout</a>
        {% endblock content %}</div>

    
</body>
</html>